## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [694]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.patches as mpatches
pd.options.mode.chained_assignment = None

In [695]:
df = pd.read_csv('data/aviation_data.csv')

/Users/jacklocke/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [696]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [697]:
#First, we are going to remove a lot of columns that have too many null values or we know we wont be using/investigating
#for our analysis. 
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [698]:
## We are dropping columns that have too many null/missing values, columns that have unique identifiers or are already
##represented by another row in the dataset. Essentially, if the column is not useful in assessing risk of an aircraft
##, something the stakeholders can control, or will not help us narrow down our dataset based on our scope; then it
##is safe to remove the column from the dataset as it has no value to us. 
df = df.drop(columns=['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Registration.Number', 'Schedule', 
                      'FAR.Description','Publication.Date','Event.Id','Accident.Number','Injury.Severity','Report.Status',
                      'Publication.Date'])
df.head()

,Investigation.Type,Event.Date,Location,Country,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,Accident,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise
1,Accident,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown
2,Accident,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise
3,Accident,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise
4,Accident,1979-08-02,"Canton, OH",United States,Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach

In [699]:
#Im going to lowercase all the columns to make them easier to deal with but i like the period seperation. 
df.columns = df.columns.str.lower()

In [700]:
df.columns

Index(['investigation.type', 'event.date', 'location', 'country',
       'aircraft.damage', 'aircraft.category', 'make', 'model',
       'amateur.built', 'number.of.engines', 'engine.type',
       'purpose.of.flight', 'air.carrier', 'total.fatal.injuries',
       'total.serious.injuries', 'total.minor.injuries', 'total.uninjured',
       'weather.condition', 'broad.phase.of.flight'],
      dtype='object')

In [701]:
#Before we start to deal with missing values i will investigate some of the columns further to get a better 
#understanding and see if we can start to narrow down our dataset. We already know we are going to want airplanes
#within the US. (will also be checking null/missing values before too to make sure its not too significant before
#doing anything) But in order to handle all the null/missing values in aircraft.category we will need to match the
#main specific airplane makes to them so we can fill in the null values appropiately so we can keep more airplane data.

In [702]:
#Doesn't appear to be a difference between accident as incident as both have fatalities/injuries. For now we will
#just convert everything to accident as it will be a good column to use for count later on.
df['investigation.type'].value_counts()

Accident      85015
Incident       3874
25-09-2020      702
26-09-2020       60
02-02-2021       39
              ...
31-03-2021        1
18-11-2020        1
04-03-2021        1
06-01-2021        1
04-08-2021        1
Name: investigation.type, Length: 71, dtype: int64

In [703]:
df[df['investigation.type']=='Incident']['total.fatal.injuries'].value_counts()

0.0    3210
1.0      17
3.0       1
2.0       1
Name: total.fatal.injuries, dtype: int64

In [704]:
df['accidents'] = df['investigation.type'].apply(lambda x: 'Accident')

In [705]:
df.drop(columns='investigation.type',inplace=True)

In [706]:
df.head()

,event.date,location,country,aircraft.damage,aircraft.category,make,model,amateur.built,number.of.engines,engine.type,purpose.of.flight,air.carrier,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,accidents
0,1948-10-24,"MOOSE CREEK, ID",United States,Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Accident
1,1962-07-19,"BRIDGEPORT, CA",United States,Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Accident
2,1974-08-30,"Saltville, VA",United States,Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Accident
3,1977-06-19,"EUREKA, CA",United States,Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Accident
4,1979-08-02,"Canton, OH",United States,Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Accident

In [707]:
#HOLD UP on this one, might be good to explore cause could be good business rec in general. 
#I did some research on the date of airplanes being flown. The website is from a private business that sells private
#jets. They essentially state that the age of the aircraft is not a concern but more so the maintenance on the aircraft.
#They found the standard aircraft to be about 10-20 years old and they do not recommend aircrafts to clients that are
#30+ years of age. Considering our dataset is based on accidents. The maintenance/age could be a factor. We will then
#focus on accidents only recorded since 1995 which falls within that 30 year range but is also generous. 
#(https://www.paramountbusinessjets.com/faq/age-of-aircraft-safety-factor)

In [708]:
#df = df[df['event.date']>=1995]

In [709]:
#I only want to look at accidents in the US so for country and location i will narrow it down and then remove those
#columns as im not going to use any form of location for my analysis.

In [710]:
df = df[df['country']=='United States']

In [711]:
df.drop(columns=['location','country'],inplace=True)

In [712]:
df

,event.date,aircraft.damage,aircraft.category,make,model,amateur.built,number.of.engines,engine.type,purpose.of.flight,air.carrier,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,accidents
0,1948-10-24,Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Accident
1,1962-07-19,Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Accident
2,1974-08-30,Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Accident
3,1977-06-19,Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Accident
4,1979-08-02,Destroyed,NaN,Cessna,501,No,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Accident
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,2022-12-26,NaN,NaN,PIPER,PA-28-151,No,NaN,NaN,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,Accident
90344,2022-12-26,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,Accident
90345,2022-12-26,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,Accident
90346,2022-12-26,NaN,NaN,CESSNA,210N,No,NaN,NaN,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,Accident
90347,2022-12-29,NaN,NaN,PIPER,PA-24-260,No,NaN,NaN,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,Accident

In [713]:
#Common sense, we are not going to suggest an aircraft that was built by an amateur so we will filter out any 'Yes'
#values and then drop the column.

In [714]:
df = df[df['amateur.built']=='No']

In [715]:
df.drop(columns='amateur.built',inplace=True)

In [716]:
df.head()

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,air.carrier,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,accidents
0,1948-10-24,Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Accident
1,1962-07-19,Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Accident
2,1974-08-30,Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Accident
3,1977-06-19,Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Accident
4,1979-08-02,Destroyed,NaN,Cessna,501,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Accident

In [717]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73906 entries, 0 to 90347
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.date              73906 non-null  object
 1   aircraft.damage         71949 non-null  object
 2   aircraft.category       24697 non-null  object
 3   make                    73897 non-null  object
 4   model                   73891 non-null  object
 5   number.of.engines       72237 non-null  float64
 6   engine.type             71156 non-null  object
 7   purpose.of.flight       71481 non-null  object
 8   air.carrier             13518 non-null  object
 9   total.fatal.injuries    64425 non-null  float64
 10  total.serious.injuries  63850 non-null  float64
 11  total.minor.injuries    64443 non-null  float64
 12  total.uninjured         69830 non-null  float64
 13  weather.condition       73285 non-null  object
 14  broad.phase.of.flight   55594 non-null  object
 15  accidents               73906 non-null  object
dtypes: float64(5), object(11)
memory usage: 9.6+ MB

In [718]:
#The rest of the columns id like to explore further and handle missing values, but it appears that air.carrier has
#an extreme amount of missing values which is not going to be helpful for us. We will have to drop this column.

In [719]:
df.drop(columns='air.carrier',inplace=True)

In [720]:
df.head()

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,accidents
0,1948-10-24,Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Accident
1,1962-07-19,Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Accident
2,1974-08-30,Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Accident
3,1977-06-19,Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Accident
4,1979-08-02,Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach,Accident

In [721]:
#Now we will handle the aircraft.category missing values. With the largest counts of make.

In [722]:
df['make'].isna().sum()

9

In [723]:
df['make'] = df['make'].fillna('Cessna')

In [724]:
df['make'] = df['make'].apply(lambda x: x.lower())

In [725]:
df['make'].value_counts()

cessna                25779
piper                 14125
beech                  5043
bell                   2272
boeing                 1481
                      ...
robinson michael e        1
timm                      1
allstar pzl               1
ilyushin                  1
boeing-brown              1
Name: make, Length: 1771, dtype: int64

In [726]:
df['aircraft.category'] = df.apply(lambda x: 'Airplane' if x['make'] in ['cessna','piper','beech','mooney','boeing']else x['aircraft.category'], axis=1)

In [727]:
df = df[df['aircraft.category']=='Airplane']

In [728]:
df['make'].value_counts()

cessna               25779
piper                14125
beech                 5043
boeing                1481
mooney                1285
                     ...
lanshe aerospace         1
flightworks corp         1
pzl-mielec               1
arctic                   1
funk aircraft co.        1
Name: make, Length: 1015, dtype: int64

In [729]:
len(df)

54446

In [730]:
## both weather and broad phase of flight could be useful but they will not be involved in my three business 
##recommendations and because of that I am going to drop them from the dataset.

In [731]:
df.drop(columns=['weather.condition','broad.phase.of.flight'],inplace=True)

In [732]:
df.head()

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,accidents
1,1962-07-19,Destroyed,Airplane,piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Accident
2,1974-08-30,Destroyed,Airplane,cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,Accident
4,1979-08-02,Destroyed,Airplane,cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0,Accident
5,1979-09-17,Substantial,Airplane,mcdonnell douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0,Accident
6,1981-08-01,Destroyed,Airplane,cessna,180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Accident

In [733]:
##We are going to deal with small sized planes. We know anything that is 1 engine is small but we do not know if 2
##engines is small or large still. Based on research I've done (National Business Aviation Association); 
##it appears that reciprocating engines are mostly only used on small aircrafts. Additionally, if we reduce the 
##number of passengers we can further filter out aircrafts that we are certain are larger. We cannot guarentee that 
#every airplane will be small but by reducing the number of of engines, the engine type, and the number of passengers 
#we can greatly reduce the number so that it will not affect any of our analysis or recommendation. Also, we know 0 
#engines isnt possible so that that will be filtered out as well. We will create the total passengers column after
#dealing with null values for the injury columns.
#(https://nbaa.org/business-aviation/business-aircraft/piston-engine-aircraft/)
df['number.of.engines'].value_counts()

1.0    45719
2.0     7649
3.0      269
4.0      182
0.0       23
6.0        1
8.0        1
Name: number.of.engines, dtype: int64

In [734]:
df=df[(df['number.of.engines']==2) | (df['number.of.engines']==1)]

In [735]:
len(df)

53368

In [736]:
#Missing value of categorical data is low so fill in missing with mode.
df['engine.type'].value_counts()

Reciprocating    48792
Turbo Prop        1833
Turbo Fan         1028
Turbo Jet          225
Unknown             22
Turbo Shaft         17
Electric             2
UNK                  1
Name: engine.type, dtype: int64

In [737]:
df['engine.type'] = df['engine.type'].fillna('Reciprocating')

In [738]:
df['engine.type'] = df['engine.type'].apply(lambda x: 'Reciprocating' if x == 'Unknown' or x == 'UNK' else x)

In [739]:
df = df[df['engine.type']=='Reciprocating']

In [740]:
len(df)

50263

In [741]:
#Now we can handle missing/null values and begin to explore our dataset

In [742]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50263 entries, 1 to 90345
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   event.date              50263 non-null  object
 1   aircraft.damage         49957 non-null  object
 2   aircraft.category       50263 non-null  object
 3   make                    50263 non-null  object
 4   model                   50259 non-null  object
 5   number.of.engines       50263 non-null  float64
 6   engine.type             50263 non-null  object
 7   purpose.of.flight       49656 non-null  object
 8   total.fatal.injuries    44334 non-null  float64
 9   total.serious.injuries  43815 non-null  float64
 10  total.minor.injuries    44292 non-null  float64
 11  total.uninjured         47764 non-null  float64
 12  accidents               50263 non-null  object
dtypes: float64(5), object(8)
memory usage: 5.4+ MB

In [743]:
df['aircraft.damage'].isna().sum()

306

In [744]:
df['aircraft.damage'].value_counts()

Substantial    39576
Destroyed       9681
Minor            660
Unknown           40
Name: aircraft.damage, dtype: int64

In [745]:
#Missing value of categorical data is low so fill in missing with mode.
df['aircraft.damage'] = df['aircraft.damage'].fillna('Substantial')

In [746]:
df['aircraft.damage'] = df['aircraft.damage'].apply(lambda x: 'Substantial' if x == 'Unknown' else x)

In [747]:
#Missing value of categorical data is low so fill in missing with mode.
df['purpose.of.flight'] = df['purpose.of.flight'].fillna('Personal')

In [748]:
df['purpose.of.flight'] = df['purpose.of.flight'].apply(lambda x: 'Personal' if x == 'Unknown' else x)

In [749]:
#continuous missing values we will fill in with the median or mean depending on which is appropiate
df.describe()

,number.of.engines,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured
count,50263.000000,44334.000000,43815.000000,44292.000000,47764.000000
mean,1.108947,0.383656,0.220130,0.280073,1.448497
std,0.311576,1.011086,0.632857,0.755026,6.358127
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,2.000000,82.000000,41.000000,62.000000,406.000000

In [750]:
#these are discrete values in the column so we will go with the median to fill in missing values. 
df['total.fatal.injuries'].agg(['median','mean'])

median    0.000000
mean      0.383656
Name: total.fatal.injuries, dtype: float64

In [751]:
df['total.fatal.injuries'] = df['total.fatal.injuries'].fillna(0.0)

In [752]:
#these are discrete values in the column so we will go with the median to fill in missing values. 
df['total.serious.injuries'].agg(['median','mean'])

median    0.00000
mean      0.22013
Name: total.serious.injuries, dtype: float64

In [753]:
df['total.serious.injuries'] = df['total.serious.injuries'].fillna(0.0)

In [754]:
#these are discrete values in the column so we will go with the median to fill in missing values. 
df['total.minor.injuries'].agg(['median','mean'])

median    0.000000
mean      0.280073
Name: total.minor.injuries, dtype: float64

In [755]:
df['total.minor.injuries'] = df['total.minor.injuries'].fillna(0.0)

In [756]:
#these are discrete values in the column so we will go with the median to fill in missing values. 
df['total.uninjured'].agg(['median','mean'])

median    1.000000
mean      1.448497
Name: total.uninjured, dtype: float64

In [757]:
df['total.uninjured'] = df['total.uninjured'].fillna(1.0)

In [758]:
df['total.passengers'] = df.apply(lambda x: x['total.fatal.injuries'] + x['total.serious.injuries'] + 
                                  x['total.minor.injuries'] + x['total.uninjured'],axis=1)

In [759]:
df = df[df['total.passengers']<=6]

In [760]:
len(df)

49821

In [761]:
#Now we want to use airplanes that will be used for instructional purposes. If we are able to create a list of 
#instructional makes and models, then we can go through the df and keep all the data for makes and models that could be
#used for instructional purposes. That way we do not lose a lot of data by just solely looking at the instructional
#purpose of flight. 
df[df['purpose.of.flight']=='Instructional']

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,accidents,total.passengers
20,1982-01-02,Substantial,Airplane,cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,Accident,1.0
48,1982-01-06,Substantial,Airplane,cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,Accident,2.0
57,1982-01-08,Substantial,Airplane,cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,Accident,1.0
58,1982-01-08,Substantial,Airplane,piper,PA-24-250,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,Accident,2.0
59,1982-01-08,Substantial,Airplane,cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,Accident,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90238,2022-11-13,Substantial,Airplane,cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,Accident,2.0
90255,2022-11-18,Substantial,Airplane,cessna,172M,1.0,Reciprocating,Instructional,0.0,0.0,0.0,3.0,Accident,3.0
90266,2022-11-21,Substantial,Airplane,piper,PA28,1.0,Reciprocating,Instructional,0.0,1.0,0.0,1.0,Accident,2.0
90276,2022-11-22,Substantial,Airplane,textron aviation inc,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0,Accident,2.0
90324,2022-12-12,Substantial,Airplane,cessna,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,Accident,1.0

In [762]:
instructional_makes = list(set(df[df['purpose.of.flight']=='Instructional']['make'].values))

In [763]:
df['make'] = df.apply(lambda x: 'no' if x['make'] not in instructional_makes else x['make'],axis=1)

In [764]:
df = df[df['make'] != 'no']

In [765]:
len(df)

48315

In [766]:
instructional_models = list(set(df[df['purpose.of.flight']=='Instructional']['model'].values))

In [767]:
df['model'] = df.apply(lambda x: 'no' if x['model'] not in instructional_models else x['model'],axis=1)

In [768]:
df = df[df['model'] != 'no']

In [769]:
len(df)

41844

In [770]:
df.head()

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,accidents,total.passengers
2,1974-08-30,Destroyed,Airplane,cessna,172M,1.0,Reciprocating,Personal,3.0,0.0,0.0,1.0,Accident,4.0
6,1981-08-01,Destroyed,Airplane,cessna,180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Accident,4.0
7,1982-01-01,Substantial,Airplane,cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,Accident,2.0
10,1982-01-01,Substantial,Airplane,piper,PA-28-161,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0
11,1982-01-01,Substantial,Airplane,beech,V35B,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0

In [771]:
df.reset_index(drop=True,inplace=True)

In [772]:
df.head()

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,accidents,total.passengers
0,1974-08-30,Destroyed,Airplane,cessna,172M,1.0,Reciprocating,Personal,3.0,0.0,0.0,1.0,Accident,4.0
1,1981-08-01,Destroyed,Airplane,cessna,180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Accident,4.0
2,1982-01-01,Substantial,Airplane,cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,Accident,2.0
3,1982-01-01,Substantial,Airplane,piper,PA-28-161,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0
4,1982-01-01,Substantial,Airplane,beech,V35B,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0

In [773]:
df.describe()

,number.of.engines,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,total.passengers
count,41844.000000,41844.000000,41844.000000,41844.000000,41844.000000,41844.000000
mean,1.091100,0.320285,0.186598,0.244957,1.201941,1.953781
std,0.287755,0.829451,0.547813,0.631131,1.130320,1.065799
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000
max,2.000000,6.000000,5.000000,6.000000,6.000000,6.000000

In [774]:
df['make'].value_counts().head(10)

cessna                22112
piper                 12482
beech                  3594
mooney                 1080
boeing                  232
cirrus design corp      199
aeronca                 189
bellanca                189
luscombe                143
champion                134
Name: make, dtype: int64

In [775]:
df['model'].value_counts()

152          2315
172          1618
172N         1123
PA-28-140     898
150           786
             ...
Venture         1
BT-13A          1
DA-42           1
V1              1
EA 300          1
Name: model, Length: 823, dtype: int64

In [776]:
#We do not need to be looking at all the makes/models of our dataset for the analysis/recommendations. We know there
#are limitations of the dataset and all we can show is what is highly representative and give next steps/suggestions.
#We dont want to deal with small number of accidents for makes and models because we dont know about availability,
#cost, total flights/mileage that play a factor into safety. So we will show what the data highly represents.

In [777]:
#We will take the top six makes as these account for 39,699 rows still and are 95% of our small instructional aircraft
#data.

In [778]:
top_makes = ['cessna','piper','beech','mooney','boeing','cirrus design corp']

In [779]:
df_top_makes = df[df['make'].isin(top_makes)]

In [780]:
df_top_makes

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,accidents,total.passengers
0,1974-08-30,Destroyed,Airplane,cessna,172M,1.0,Reciprocating,Personal,3.0,0.0,0.0,1.0,Accident,4.0
1,1981-08-01,Destroyed,Airplane,cessna,180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Accident,4.0
2,1982-01-01,Substantial,Airplane,cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,Accident,2.0
3,1982-01-01,Substantial,Airplane,piper,PA-28-161,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0
4,1982-01-01,Substantial,Airplane,beech,V35B,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41838,2022-12-09,Substantial,Airplane,piper,PA-44,2.0,Reciprocating,Personal,0.0,1.0,0.0,0.0,Accident,1.0
41839,2022-12-10,Substantial,Airplane,cessna,305A,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,Accident,2.0
41840,2022-12-12,Substantial,Airplane,cessna,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,Accident,1.0
41841,2022-12-14,Substantial,Airplane,cirrus design corp,SR22,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0
41842,2022-12-16,Substantial,Airplane,cessna,R172K,1.0,Reciprocating,Personal,0.0,1.0,0.0,0.0,Accident,1.0

In [781]:
#Now we need to consolidate the models as a lot of them are essentially the same and for the sake of the analysis
#we will be grouping some of them together. We will pair the models with their makes and create individual dataframes
# so then we can make changes without affecting other makes and models. Then we will concat all the dfs together. 
#Fhen we can see the top models for each of the top makes and furtherreduce our dataset before we analyze using our
#risk factors.

In [782]:
#We are writing a function that will take in the dataframe for a make and a list of what we want to convert the model
#to and this will consolidate our models for us. We also have two lambda functions that will get ride of special
#characters and spaces so it is just alphanumeric. This will make it easier to sort through
import re
df_top_makes['model']=df_top_makes['model'].apply(lambda x: re.sub(r'[^\w\s]','', x))

df_top_makes['model'] = df_top_makes['model'].apply(lambda x: x.replace(' ',''))

def model_consolidation(df_x, mod_lst):
    for mod in mod_lst:
        df_x['model'] = df_x['model'].apply(lambda x: mod if mod in x else x)

In [783]:
df_cessna = df_top_makes[df_top_makes['make']=='cessna']

In [784]:
len(df_cessna)

22112

In [785]:
df_cessna['model'].value_counts().head(10)

152     2315
172     1616
172N    1129
172M     798
150      786
172P     679
180      611
182      582
150M     571
150L     449
Name: model, dtype: int64

In [786]:
cessna_list = ['152','172','150','180','182','170','140','177','185','210','310','421','188']

In [787]:
model_consolidation(df_cessna, cessna_list)

In [788]:
df_cessna = df_cessna[df_cessna['model'].isin(['172','150','182','152','210','180'])]

In [789]:
#Want to add identifiers at beggining so no model numbers get mixed up between different makes. 
df_cessna['model'] = df_cessna['model'].apply(lambda x: 'C' + x)

In [613]:
df_piper = df_top_makes[df_top_makes['make']=='piper']
print(len(df_piper))

12482

In [614]:
df_piper['model'].value_counts().head(10)

PA28140    963
PA18       678
PA18150    625
PA28180    609
PA28161    581
PA28181    544
PA38112    471
PA28       390
PA24250    363
PA12       359
Name: model, dtype: int64

In [632]:
piper_list = ['PA28','PA18','PA38','PA34','PA44','PA32','PA24','PA12','PA22','PA23','PA25','J3','PA30','PA31','PA46']

In [633]:
model_consolidation(df_piper, piper_list)

In [636]:
df_piper = df_piper[df_piper['model'].isin(['PA28','PA18','PA32','PA22','PA24','PA38'])]

In [637]:
len(df_piper)

9305

In [643]:
df_beech = df_top_makes[df_top_makes['make']=='beech']
print(len(df_beech))

3594

In [648]:
df_beech['model'].value_counts().head(25)

A36      499
58       312
V35      253
C23      223
F33      134
35       132
95B55    119
23        91
C24R      73
B19       66
76        64
S35       64
C35       59
77        57
A23       57
E18S      55
G35       54
H35       53
B35       51
K35       49
36        46
A35       44
95C55     40
J35       38
M35       37
Name: model, dtype: int64

In [667]:
beech_list = ['36','23','58','35','33','95','24','55','45','18','19','60','34','76','77']

In [668]:
model_consolidation(df_beech, beech_list)

In [669]:
df_beech['model'].value_counts().head(30)

35        1033
36         545
23         518
58         312
95         295
33         147
55         141
24         140
19         109
76          81
18          80
77          70
60          60
45          43
56TC         9
34           7
C17B         2
Sierra       1
SPORT        1
Name: model, dtype: int64

In [670]:
df_beech = df_beech[df_beech['model'].isin(['35','36','23','58','95'])]

In [671]:
len(df_beech)

2703

In [672]:
df_beech['model'] = df_beech['model'].apply(lambda x: 'Be' + x)

In [674]:
df_mooney = df_top_makes[df_top_makes['make']=='mooney']
print(len(df_mooney))

1080

In [676]:
df_mooney['model'].value_counts().head(50)

M20J    293
M20C    222
M20F    165
M20E    145
M20K    135
M20M     38
M20R     36
M20A     31
M20S      6
M20L      4
M10       3
20G       1
M20G      1
Name: model, dtype: int64

In [677]:
mooney_list = ['20','10']

In [678]:
model_consolidation(df_mooney, mooney_list)

In [679]:
df_mooney['model'].value_counts().head(30)

20    1077
10       3
Name: model, dtype: int64

In [680]:
len(df_mooney)

1080

In [681]:
df_mooney['model'] = df_mooney['model'].apply(lambda x: 'M' + x)

In [682]:
df_boeing = df_top_makes[df_top_makes['make']=='boeing']
print(len(df_boeing))

232

In [683]:
#based on research, it appears the 75 and 17 are the same exact stearman aircraft from boeing. Used mostly in world
#war 2, now they are used mostly for instructional/agriculture/personal use. 
df_boeing['model'].value_counts().head(50)

A75N1        114
B75N1         43
E75           35
A75N1PT17     29
D75N1          8
PT17           2
N2S1A75A       1
Name: model, dtype: int64

In [684]:
df_boeing['model'] = df_boeing['model'].apply(lambda x: 'Bo75')

In [685]:
df_boeing['model'].value_counts().head(30)

Bo75    232
Name: model, dtype: int64

In [686]:
df_cirrus = df_top_makes[df_top_makes['make']=='cirrus design corp']
print(len(df_cirrus))

199

In [687]:
df_cirrus['model'].value_counts()

SR22     136
SR20      48
SR22T     15
Name: model, dtype: int64

In [688]:
df_cirrus['model'] = df_cirrus['model'].apply(lambda x: 'SR22' if "SR22" in x else x)

In [689]:
df_cirrus['model'].value_counts()

SR22    151
SR20     48
Name: model, dtype: int64

In [690]:
top_make_model = pd.concat([df_cessna,df_piper,df_beech,df_mooney,df_boeing,df_cirrus])

In [691]:
top_make_model

,event.date,aircraft.damage,aircraft.category,make,model,number.of.engines,engine.type,purpose.of.flight,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,accidents,total.passengers
0,1974-08-30,Destroyed,Airplane,cessna,C172,1.0,Reciprocating,Personal,3.0,0.0,0.0,1.0,Accident,4.0
1,1981-08-01,Destroyed,Airplane,cessna,C180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,Accident,4.0
5,1982-01-02,Destroyed,Airplane,cessna,C172,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0,Accident,1.0
8,1982-01-02,Destroyed,Airplane,cessna,C180,1.0,Reciprocating,Personal,3.0,0.0,0.0,0.0,Accident,3.0
9,1982-01-02,Substantial,Airplane,cessna,C172,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41743,2022-09-28,Substantial,Airplane,cirrus design corp,SR20,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0,Accident,1.0
41788,2022-10-23,Substantial,Airplane,cirrus design corp,SR22,1.0,Reciprocating,Personal,0.0,0.0,0.0,5.0,Accident,5.0
41805,2022-11-05,Substantial,Airplane,cirrus design corp,SR20,1.0,Reciprocating,Instructional,1.0,0.0,0.0,0.0,Accident,1.0
41830,2022-11-27,Substantial,Airplane,cirrus design corp,SR22,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0,Accident,2.0
41841,2022-12-14,Substantial,Airplane,cirrus design corp,SR22,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0,Accident,1.0

In [692]:
top_make_model.reset_index(inplace=True,drop=True)

In [693]:
#Save this cleaned dataset so it can be used in tableau for further investigation/analysis.
top_make_model.to_csv('./data/tableau_dataset.csv')

In [791]:
top_make_model['model'].value_counts()

C172    6440
PA28    4554
C150    3156
C182    2781
C152    2457
PA18    1550
C210    1254
PA32    1109
M20     1077
Be35    1033
C180     948
PA22     843
PA24     703
PA38     546
Be36     545
Be23     518
Be58     312
Be95     295
Bo75     232
SR22     151
SR20      48
M10        3
Name: model, dtype: int64